.wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1070px;
	margin: 0 auto;
	padding: 0 15px;
}

h1, .h1 {
	@include media('>=tablet') {
		color: #fff;
		letter-spacing: 0.2px;
	}

	@include media('>=widescreen') {
		font-size: 58px;
		line-height: 80px;
	}
}

h2, .h2 {
	color: $black;

	@include media('>=tablet') {
		font-size: 28px;
		letter-spacing: 0.2px;
	}

	@include media('>=widescreen') {
		font-size: 40px;
		line-height: 57px;
	}
}

h3, .h3 {
	color: $red;

	@include media('>=tablet') {
		font-size: 26px;
		line-height: 36px;
		letter-spacing: 0.1px;
	}

	@include media('>=widescreen') {
		font-size: 24px;
	}
}

h4, .h4 {
	color: $gray;

	@include media('>=tablet') {
		font-size: 22px;
		line-height: 38px;
		letter-spacing: 0.2px;
	}

	@include media('>=widescreen') {
		font-size: 24px;
	}
}

h5, .h5 {
	@include media('>=tablet') {
		font-size: 20px;
	}

	@include media('>=widescreen') {
		font-size: 18px;
	}
}

h6, .h6 {
	@include media('>=tablet') {
		font-size: 18px;
	}

	@include media('>=widescreen') {
		font-size: 16px;
	}
}