.btn {
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

    @include media('>=tablet') {
        max-width: 50%;
        font-size: 24px;
    }

    &--round {
        min-width: 236px;
        min-height: 68px;
        border-radius: 30px;
    }

    &--square {
        min-width: 137px;
        min-height: 64px;
        border-radius: 10px;

        @include media('>=tablet') {
            min-width: 142px;
        }
    }

    &--red {
        @include animate(background-color border);

        border: 1px solid $red;
        background-color: $red;
        color: #fff;

        &:hover {
            border: 1px solid #fff;
            background-color: rgba($color: $red, $alpha: 0);
        }
    }

    &--transparent {
        @include animate(background-color border);

        border: 1px solid #fff;
        background-color: rgba($color: $red, $alpha: 0);
        color: #fff;

        &:hover {
            border: 1px solid $red;
            background-color: $red;
        }
    }

    &--bigger {
        min-width: 142px;

        @include media('>=tablet') {
            min-width: 173px;
        }
    }
}

.buttons-block {

    .btn {

        &:not(:last-child) {
            margin: 0 0 17px;

            @include media('>=507px') {
                margin: 0 17px 17px;
            }

            @include media('>=tablet') {
                margin: 0 17px 0;
            }
        }
        &--square {
            margin: 0 0 17px;

            &:not(:last-child) {
                margin: 0 6px 17px 0;

                @include media('>=507px') {
                    margin: 0 17px 17px;
                }
            }
        }
    }
}